html, body {
    font-family: Arial, sans-serif;
    background-color: white;
}

body{
    padding-top: 100px;
}

* {
    margin: 0;
    padding: 0;
}



/* Barra de Navegação */
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background:linear-gradient(rgb(54, 6, 54),black);
    z-index: 9999;
}

.nav-bar .logo img {
    width: 50px;
    height: 50px;
}

.nav-bar .logo a {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-bar .logo h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contents ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style-type: none;
    padding-left: 40px;
}

li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

li a:hover {
    color: #a30015;
}

.logo a {
    text-decoration: none;
}

.nav-bar-button-container{
    display: none;
    width: 25px;
    height: 25px;
    fill: #a30015;
}

.nav-bar-button-container:hover{
    cursor: pointer;
}

#nav-bar-toggle {
    display: none;   
}

.cart-icon-nav-bar{
    width: 25px;
    height: 25px;
    fill: #a30015;
    cursor: pointer;
}

input:checked ~ .contents{
    display:flex;
}

@media only screen and (max-width: 768px) {
    .nav-bar .logo a h1 {
        display: none;
    }

    .nav-bar-button-container{
        display: block;
    }
  
    .contents {
        display: none;
    }
  
    .contents ul {
        flex-direction: column;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
  

/* Categorias */
.categories{
    height: auto;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #b4b8ab;
    justify-items: center;
    align-items: center;
    padding: 5px;
}

.container-categories a{
    text-transform: uppercase;
    color: #493657;
    font-size: 18px;
}

.container-categories p{
    font-size: 18px;
    color: #493657;
}

@media only screen and (max-width: 500px) {
    .container-categories p{
        font-size: 14px;
    }   
    .container-categories a{
        font-size: 10px;
    }
}


/* Título */
.category{
    margin-top: 60px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #a30015;
}

.title{
    text-transform: uppercase;
    color: #a30015;
}


/* FILTROS */
.filter {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
  
.search-filter {
    max-width: 50%;
    margin: auto auto;
    background-color: #b4b8ab;
    border-radius: 20px;
    padding: 10px;
    margin-right: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.search-filter input{
    border: none;
    outline: none;
    font-size: medium;
    color: #493657;
    background: transparent;
    padding: 5px;
    width: 40vw;
}

.search-icon{
    width: 25px;
    height: 25px;
    fill: #493657;
}
  
.search-filter button{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
}
  
.filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    width: 10vw;
    padding: 1vw;
}

.filter-container button{
    padding: 10px;
    margin-left: 2vw;
    font-size: medium;
    font-weight: bold;
    color: #b4b8ab;
    background: transparent;
    border: 2px solid #b4b8ab;
    border-radius: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 508px) {
    .filter-container button{
        width: 60px;
        height: 35px;
        font-size: 9px;
    }

    .filter .search-filter{
        height: 20px;

        .search-icon{
            width: 20px;
        }

        .search-input{
            font-size: 12px;
        }
    }
}


/* CATÁLOGO DE PRODUTOS */
section.catalog-product{
    margin: 60px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 80px;
    place-items: center;
    max-width: 100%;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
    height: 600px;
    margin: 20px;
    padding: 20px;
    background: #b4b8ab;
    text-align: center;
    color: #f4f9e9;
    border-radius: 6px;
}

.card-content img {
    max-width: 100%;
    color: #f4f9e9;
    cursor: pointer;
}

.card-content img:hover{
    transition: 6ms ease-in-out;
    opacity: 50%;
}

.card-content-description{
    align-self: end;
    cursor: pointer;
}

.card-content h2 {
    margin-top: 10px;
    color: #f4f9e9;
}

.card-content p.price {
    font-weight: bold;
    color: #a30015;
    font-size: 30px;
}

.card-content-take {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-content-buy-now {
    flex: 1;
    text-align: left;
}

.card-content-buy-now button{
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    height: auto;
    color: #f4f9e9;
    background-color: #a30015;
    border: 2px solid #a30015;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.card-content-buy-now button:hover{
    transition: color 6ms ease-in-out;
    transition: background-color 6ms ease-in-out;
    background: transparent;
    border: 2px solid #a30015;
    color: #a30015;
}

.card-content-cart .cart-icon{
    width: 25px;
    height: 25px;
    fill: #f4f9e9;
    cursor: pointer;
}

.card-content-cart {
    text-align: right;
}

.card-content-cart button{
    width: auto;
    height: auto;
    background-color: #a30015;
    border: 2px solid #a30015;
    padding: 6px;
    border-radius: 10px;
}

.card-content-cart button:hover{
    transition: color 6ms ease-in-out;
    transition: background-color 6ms ease-in-out;
    background-color: transparent;

    .cart-icon{
        fill: #a30015;
    }
}

@media only screen and (max-width: 768px) {
    section.catalog-product{
        margin: 30px;
        padding: 25px;
    }

    .card-content{
        width: auto;
        height: auto;
        font-size: medium;
        margin: 10px;
        padding: 10px;
    }
    
    .card-content-buy-now button{
        font-size: medium;
    }

    .card-content-cart .cart-icon{
        width: 25px;
        height: 25px;
    }
}


/* Rodapé */
.rodape{
    background:linear-gradient(rgb(54, 6, 54),black);
    color:white;
}

.rodape .logo-rodape{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:2rem;
}

.rodape .rodape-last{
    display:flex;
    justify-content: space-around;
}

.rodape .logo-rodape img{
    width:200px;
    height:200px;
    padding:2rem;
}

@media only screen and (max-width: 768px) {
    .rodape .logo-rodape img{
        width:100px;
        height:100px;
        padding:1rem;
    }   
}